<div id="app-showframe-container">

	<mat-card class="vh100">

		<div class="mat-card-image-container">

			<img matCardImage src="{{hostUrl}}/{{generateArray(frame.images)[0]}}">

			<button id="app-add-frame-button" class="fab-mid-abs" mat-fab (click)="editFrame( frame )" color="accent">
				<mat-icon>edit</mat-icon>
			</button>
					
		</div>		

		<mat-card-header>
			<mat-card-title><h1 class="mat-headline uk-margin-top-15" >{{frame.title}}</h1></mat-card-title>
		</mat-card-header>

		<mat-card-content>

			<mat-expansion-panel class="mat-expansion-panel-no-shadow">
					
				<mat-expansion-panel-header>

					<mat-panel-title>Description</mat-panel-title>

				</mat-expansion-panel-header>

				<p>{{frame.descr}}</p>

			</mat-expansion-panel>
						
			<mat-list>

				<mat-list-item >
					<p matLine class="uk-text-bold color-primary">Camera</p>					
				</mat-list-item>

				<mat-divider></mat-divider>

				<mat-list-item >
					<p matLine class="mat-line-padding-left-8">AH</p>					
					<p matLine class="mat-line-value mat-line-padding-left-8">{{frame?.specs?.camera?.ah}} deg</p>					
				</mat-list-item>

				<mat-divider></mat-divider>

				<mat-list-item >
					<p matLine class="mat-line-padding-left-8">AV</p>					
					<p matLine class="mat-line-value mat-line-padding-left-8">{{frame?.specs?.camera?.av}} deg</p>					
				</mat-list-item>

				<mat-divider></mat-divider>

				<mat-list-item >
					<p matLine class="mat-line-padding-left-8">AZ</p>					
					<p matLine class="mat-line-value mat-line-padding-left-8">{{frame?.specs?.camera?.az}} deg</p>					
				</mat-list-item>

				<mat-divider></mat-divider>

				<mat-list-item >
					<p matLine class="mat-line-padding-left-8">Distance</p>					
					<p matLine class="mat-line-value mat-line-padding-left-8">{{frame?.specs?.camera?.distance}} m</p>					
				</mat-list-item>

				<mat-divider></mat-divider>

				<mat-list-item >
					<p matLine class="mat-line-padding-left-8">Height</p>					
					<p matLine class="mat-line-value mat-line-padding-left-8">{{frame?.specs?.camera?.height}} m</p>					
				</mat-list-item>

				<mat-divider></mat-divider>

				<mat-list-item *ngIf="frame.specs?.plan" class="uk-margin-top-15">
					<p matLine class="uk-text-bold color-primary">Sketch map</p>					
				</mat-list-item>
	
				<mat-divider *ngIf="frame.specs?.plan"></mat-divider>

				<mat-list-item  *ngIf="frame.specs?.plan">
					<img matCardImage src="{{hostUrl}}/{{frame.specs?.plan}}">
				</mat-list-item>
					
			</mat-list>

			<mat-divider></mat-divider>

		</mat-card-content>
		
		<mat-card-actions align="start" class="uk-hidden">
			<button mat-button (click)="onAction1">Action1</button>
		</mat-card-actions>

		<mat-card-footer>
			&nbsp;
		</mat-card-footer>

	</mat-card>

</div>
	