<div class="app-app-info-container">
	<mat-card class="vh100">
		<mat-card-header>
			<mat-card-title><h1 class="mat-headline">&nbsp;<span *ngIf="false">About</span></h1></mat-card-title>
			<mat-card-subtitle>mySITE4u</mat-card-subtitle>
		</mat-card-header>

		<img class="app-info-logo" matCardImage src="http://www.mysite4u.net/images/mysite4u/logo/mysite4u-logo-trans.png">

		<mat-card-content>
			Scenario App is an Angular 4 framework driven app
		</mat-card-content>
		<mat-card-footer></mat-card-footer>
	</mat-card>
</div>