<div class="app-admin-area-container">

	<mat-card class="vh100">

		<mat-card-header>
		</mat-card-header>

		<mat-card-content>

			<div class="admin-dashboard-contaner">
				<div class="mat-grid-title-div admin-dashboard-contaner-item admin-dashboard-contaner-item-user">
					<a routerLink="/add-user" mat-button><mat-icon>supervisor_account</mat-icon></a>
				</div>
				<div class="mat-grid-title-div admin-dashboard-contaner-item admin-dashboard-contaner-item-quilt">
					<a routerLink="/theme-settings" mat-button><mat-icon>line_style</mat-icon></a>
				</div>
				<div class="mat-grid-title-div admin-dashboard-contaner-item admin-dashboard-contaner-item-dashboard">
					<a routerLink="/dashboard" mat-button><mat-icon>dashboard</mat-icon></a>
				</div>
			</div>
			
		</mat-card-content>
		
		<mat-card-footer></mat-card-footer>

	</mat-card>
	
</div>
